.cabecario{
    background-color:rgba(0, 183, 255, 0.26);
    border-radius: 10px;
    text-align: center;
}

.sub_menu{
    background-color: rgba(4, 71, 196, 0.692);
    color:white;
    border-radius:40px;
    width: 2em;
    padding: 1em;
}

.logo{
    width: 200px;
    float: left;
}

.nome_titulo{
    color:black;
    font-family:Playfair Display;
    line-height: 300px;
}