.cabecario{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    height: 150px;
    color: rgb(0, 0, 0);
    
}
.menu{
    /* Define o fundo */
    background-color: rgba(0, 13, 196, 0.692);
    /* Define a letra */
    color:white;
    font-size: 120%;
    /* Define o tamanho */
    width: 60px;
    padding: 5px;
    display: table;
    float: left;
    /* margin-left: 10%; */
    /* Define a borda */
    border-color: rgb(255, 255, 255); 
    border-style: solid;
    border-width: 1px;
    border-radius:40px;
    /* Localização da pagina */
    position: absolute;
    top: 2%;
    left: 150px;  

}
.sub_menu{
   /* Fundo */
    background-color: rgba(0, 85, 255, 0.692);
    color:white;
    /* Letra */
    font-size: 120%;
    border-radius:40px;
    /* Tamanho da caixa */
    width: 60px;
    padding: 5px;
    /* Borda */
    border-color: rgb(255, 255, 255); 
    border-style: solid;
    border-width: 1px;

    position: absolute;
    left: 83px; 
    float: left;


    display: table;
    margin-left: 10%;

}

#Contato{
    top: 8%;
    position: absolute;
}
#Imoveis{
    top: 14%;
    position: absolute;
}
#Home{
    top: 20%;
    position: absolute;
}


.logo{
    width: 150px;
    float: left;
    /* display: inline-block; */
}

.nome_titulo{
    color:rgb(0, 0, 0);
    font-family:Playfair Display;
    line-height: 30px;
    font: bold;
    display: inline-block;
}
.facebook{
    width: 20px;
    position: absolute;
    top: 135px;
    right: 210px;
    border-radius: 5px;
}
.whatsapp{
    width: 20px;
    position: absolute;
    top: 115px;
    right: 120px;
    border-radius: 5px;
}
.telefone{
    width: 100px;
    position: absolute;
    top:   115px;
    right: 10px;
    border-radius: 5px;
    display: inline-block; 
}
.endereco_face{
    width: 100px;
    position: absolute;
    top:   135px;
    right: 100px;
    border-radius: 5px;
    display: inline-block; 
}

.campo_de_busca{
    background-color: rgb(255, 72, 0);
    border-radius: 10px;
    height: 8VH;
    text-align: center;
}

#btn_buscar{
    background-color: rgb(255, 187, 0);
    border-color: red;
    border-bottom-width: 1px; 
    border-radius: 10px;  
    display: inline-block;
    height: 20px;
    width: 80px;
}